* {
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro';
  --bordercolor: black;
}

body {
  margin: 0;
}

body,
.rank-div {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

h1 {
  display: block;
  width: 100vw;
  text-align: center;
}

.heading {
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.title,
.opening,
.closing {
  margin: 4px 0.15rem 0;
  padding: 0;
  font-family: monospace;
  font-size: 13px;
}

.opening,
.closing {
  font-size: 19px;
  margin-top: 0;
}

.title {
  margin-right: 0;
  margin-left: 10px;
}

.test-input {
  margin: 0;
}

.opening {
  margin-left: 0;
}

.rank-div.purple {
  background-color: rgba(128, 0, 128, 0.346);
}

.rank-div.blue {
  background-color: #1f7ed746;
}

.rank-div.yellow {
  background-color: rgba(255, 255, 0, 0.238);
}

.rank-div.white {
  background-color: rgba(170, 170, 170, 0.369);
}

.heading.purple > h2 {
  -webkit-text-fill-color:purple;
}

.heading.blue > h2 {
  -webkit-text-fill-color:#1f7ed7;
}

.heading.yellow > h2 {
  -webkit-text-fill-color:yellow;
}

.heading.white > h2 {
  -webkit-text-fill-color:white;
}

section.module {
  position: relative;
  overflow: visible;
  background-color: white;
  max-width: 80%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 4px 15px #999;
}

.module.darken {
  background-color: rgba(115, 115, 115, 0.192);
}

.test-input {
  min-width: max-content;
}

.container-div {
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
  max-height: 1.5rem;
}

.argument {
  margin: 0 .15rem;
  padding: 0 .15rem;
  text-align: center;
  transform: translateY(5%);
}

.submit:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.623) !important;
  color: white;
  transition: background-color 350ms, color 350ms;
}
.submit {
  transition: background-color 350ms, color 350ms;
  background-color: rgba(5,255,5,.06);
  border-radius: 4px;
}

.test-arg-comma {
  margin: 0;
}

.console-message {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .module {
    width: 92vw;
  }
  .test-input {
   width: 100%
  }
  .green {
    height: 7.5em;
  }
  .green > .container-div {
    flex-wrap: wrap;
    height: 100%;
  }
}
