* {
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro';
  --bordercolor: black;
}

body,
.rank-div {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: aliceblue;
}

h1 {
  display: block;
  width: 100vw;
  text-align: center;
}

.heading {
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.heading.purple > h2 {
  -webkit-text-fill-color:purple;
}

.heading.blue > h2 {
  -webkit-text-fill-color:#1f7ed7;
}

.heading.yellow > h2 {
  -webkit-text-fill-color:yellow;
}

.heading.white > h2 {
  -webkit-text-fill-color:white;
}

.module {
  position: relative;
  overflow: visible;
  background-color: white;
}

.module.darken {
  background-color: rgba(115, 115, 115, 0.192);
}

.test-input {
  min-width: max-content;
}

.submit:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.623) !important;
  color: white;
  transition: background-color 350ms, color 350ms;
}
.submit {
  transition: background-color 350ms, color 350ms;
}


